<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="application_name" source="spring.application.name"/>

    <!-- Appender Configs -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- Logger Configs -->
    <springProfile name="!docker">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- Log configuration for Docker profile -->
    <springProfile name="docker">
        <include resource="logstash-appender.xml" />
        <root level="INFO">
            <appender-ref ref="jsonConsoleAppender"/>
        </root>
    </springProfile>

</configuration>